<mat-list color="primary" *ngIf="book">
  <h3 mat-subheader>Book</h3>
  <mat-list-item role="listitem">Name: {{ book.name }}</mat-list-item>
  <mat-nav-list>
    <mat-list-item>
      <a matLine
         [routerLink]="['/writers/', book.id_author]"
      >
        <span matTooltip="open author">Author: {{ book.author }}</span>
      </a>
    </mat-list-item>
    <mat-list-item>
      <a matLine
         [routerLink]="['/books']"
         [queryParams]="{genre: book.genre}"
      >
        <span matTooltip="open books with same genre">Genre: {{ book.genre }}</span>
      </a>
    </mat-list-item>
  </mat-nav-list>
  <mat-list-item role="listitem">{{ book.content }}</mat-list-item>
</mat-list>
